/* insert a notification */
$("#notifications").html('<p class="flash notice"><%= escape_javascript(flash.delete(:notice)) %></p>');

/* fade out notification after 5 seconds */
$("p.notice").delay(5000).fadeOut("slow");

/* @status: replace the count of workouts */
$("#workout_count").html("<%= stat_workout_counter %>");

/* @status: replace last workout status */
$("#last_workout").html("<%= stat_last_workout %>");

/* Add the new workout to the bottom of the workouts list */
$("#workouts").prepend("<%= escape_javascript(render(@workout)) %>");

/* Reset the workout form */
$("#new_workout")[0].reset();

/* focus new exercise form */
$("input#exercise_name").focus();
